params {
    //includeConfig 'ocom_raw_data.config'
    //includeConfig 'ocom_db.config'
    skip_zotus        = true
    lca_with_fishbase = true
    use_bitwise       = true
    slurm_account     = 'pawsey0964'
    queue_size        = 200
    database          = 'all' //database can be 'all', 'custom', or 'nt'
    //dbfiles           = params.db_params[params.database]["dbfiles"]
    //if (params.project_id & params.assay) {
    //    raw_data      = params.raw_data_params[params.project_id][params.assay]["raw_data"]
    //}
    dbfiles = [
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.ndb', \
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.nhr', \
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.nin', \
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.nog', \
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.nos', \
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.not', \
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.nsq', \
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.ntf', \
        's3://minderoo-oceanomics/eDNA/Reference_database/OceanGenomes.CuratedNT.withNBDL.CuratedBOLD.fasta.nto'
    ]
    dbfiles = [
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.ndb', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nhr', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nin', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nog', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nos', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.not', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nsq', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.ntf', \
        's3://oceanomics/eDNA/raw-data/NBDL/OceanGenomes.CuratedNT.NBDLTranche1and2and3.CuratedBOLD.NoDuplicate.fasta.nto'
    ]
    aws.client.anonymous = true
}

process {
    withName: CUTADAPT_TRIM_PRIMERS {
        cpus   = { check_max( 16    * task.attempt, 'cpus'      ) }
        memory = { check_max( 8.GB * task.attempt, 'memory'    ) }
    }
    withName: CUTADAPT_TRIM_LEFTOVER_PRIMERS {
        cpus   = { check_max( 16    * task.attempt, 'cpus'      ) }
        memory = { check_max( 8.GB * task.attempt, 'memory'    ) }
    }

    withName: FAIRE_CHECK {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: ADD_EXPERIMENTRUNMETADATA {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: CREATE_FAIRE_METADATA {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: CREATE_FAIRE_METADATA_NOTAXA {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: RENAME_OTURAW {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: REFORMAT_OTUFINAL {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: BLAST_BLASTN {
        cpus   = { check_max( 16    * task.attempt, 'cpus'      ) }
        memory = { check_max( 32.GB * task.attempt, 'memory'    ) }
    }
    withName: BLAST_BLASTN2 {
        cpus   = { check_max( 16    * task.attempt, 'cpus'      ) }
        memory = { check_max( 250.GB * task.attempt, 'memory'    ) }
    }
    withName: CONCAT_BLASTN_RESULTS {
        cpus   = { check_max( 8    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: CURATE_BLASTN_RESULTS {
        cpus   = { check_max( 8    * task.attempt, 'cpus'      ) }
        memory = { check_max( 32.GB * task.attempt, 'memory'    ) }
    }
    withName: LCA {
        cpus   = { check_max( 8    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: LCA_WITH_FISHBASE {
        cpus   = { check_max( 8    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: PHYLOSEQ {
        cpus   = { check_max( 8    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: REMOVE_DUPS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: FLAG_OTUS_OUTSIDERANGE {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: OCOMNBC {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: MARKDOWN_REPORT {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: GET_PRIMERFILES {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: PREFILTERING_STATS {
        cpus   = { check_max( 64    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: FINAL_STATS {
        cpus   = { check_max( 64    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: SEQTK_TRIM {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: FASTP {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 1.GB * task.attempt, 'memory'    ) }
    }
    withName: FASTQC {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: MULTIQC {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: DOWNLOAD_AQUAMAPS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: GET_AQUAMAP_PROBS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: GET_CAAB_PROBS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: PRIMER_CONTAM_STATS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: PROPORTIONAL_FILTER {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: INPUTFILE_INFO {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: CONCATFILE_INFO {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_DEREPLICATE {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 128.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_FILTERANDTRIM {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_LEARNERRORS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_MERGE {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 32.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_PLOTERRORS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_PLOTQUALITYPROFILE {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_REMOVEBIMERADENOVO {
        cpus   = { check_max( 128    * task.attempt, 'cpus'      ) }
        memory = { check_max( 200.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_SAMPLEINFERENCE {
        cpus   = { check_max( 64    * task.attempt, 'cpus'      ) }
        memory = { check_max( 128.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_SEQUENCEDISTRIBUTION {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_SEQUENCETABLE {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_TRACKREADS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: DADA2_FINALOUTPUTS {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: CUTADAPT_DEMUX_UC {
        cpus   = { check_max( 8    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: CUTADAPT_DEMUX_UDI {
        cpus   = { check_max( 8    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: CREATE_DEMUX_DEPENDENCIES {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: RENAME {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: ASSIGNED_STATS {
        cpus   = { check_max( 64    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: UNKNOWN_STATS {
        cpus   = { check_max( 64    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: RAW_STATS{
        cpus   = { check_max( 64    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: CONCAT {
        cpus   = { check_max( 128    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: BLAST_MATCHLIST {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: BLAST_MAKEBLASTDB {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: LULU {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 16.GB * task.attempt, 'memory'    ) }
    }
    withName: GETLULUFASTA {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: SAMPLESHEET_CHECK {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 1.GB * task.attempt, 'memory'    ) }
    }
    withName: POSTDEMUX_SAMPSHEET {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 1.GB * task.attempt, 'memory'    ) }
    }
    withName: FASTQRELABEL {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: ADAPTERREMOVAL {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: FASTQCONCAT {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: FASTQTOFASTA {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: USEARCH32_FASTXUNIQUES {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: USEARCH32_UNOISE3 {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: USEARCH32_OTUTAB {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: USEARCH64_FASTXUNIQUES {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: USEARCH64_UNOISE3 {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: USEARCH64_OTUTAB {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: VSEARCH_DEREPFULLLENGTH {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: VSEARCH_CLUSTERUNOISE {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: VSEARCH_UCHIME3DENOVO {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
    withName: VSEARCH_USEARCHGLOBAL {
        cpus   = { check_max( 1    * task.attempt, 'cpus'      ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'    ) }
    }
}
