params {
    dbname  = "curateddb"
    dbfiles = [
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.ndb', \
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.nhr', \
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.nin', \
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.nog', \
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.nos', \
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.not', \
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.nsq', \
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.ntf', \
        's3://oceanomics/Databases/eDNA/v1.0.1/v1.0.1.fasta.nto'
    ]
    aws.client.anonymous = true
}